body.day {
  background-color: #f2f9ff;
}

body.night {
  background-color: rgba(73, 72, 74, 0.9);
}

input[type="search"] {
  border: 2px solid #146ec5;
  border-radius: 2px;
  padding-left: 4px;
}

input[type="search"]:focus {
  border: 2px solid #42a5f5;
}

h1 {
  color: #42a5f5;
  font-size: 50px;
  font-weight: 600;
  line-height: 1;
  margin: -5px auto 0;
  padding: 0 10px 0 0;
  text-align: right;
}

h4 {
  margin: 0;
}

h5 {
  color: #42a5f5;
  font-weight: 400;
  padding-right: 10px;
  text-align: right;
}

hr {
  border-top: 3px solid rgb(66, 165, 245);
  margin-top: 25px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#cur_loc_btn {
  background-color: rgba(66, 165, 245, 0.2);
  border: 2px solid #146ec5;
  border-radius: 2px;
  color: #42a5f5;
}

#cur_loc_btn:hover {
  border-color: #1e90e8;
  color: #146ec5;
}

.coder-info {
  opacity: 60%;
}

.col-12 {
  padding: 0;
}

.current {
  margin-right: -40px;
  padding: 0;
}

.current-emoji img {
  margin: -5px auto -15px;
}

.current-extra {
  color: #42a5f5;
  margin-left: -20px;
  padding: 0;
}

.current-extra ul {
  text-align: right;
}

.current-location {
  padding: 0;
}

.current-state {
  margin: 0 -60px;
  padding: 0;
}

.current-state ul {
  text-align: center;
}

.current-temperature {
  color: #146ec5;
  font-size: 120px;
  line-height: 91px;
  margin-right: 5px;
  padding: 0;
  text-align: center;
}

.description {
  font-size: 9px;
  margin: 0 auto;
  opacity: 60%;
  text-align: center;
}

.emoji {
  font-size: 55px;
  padding: 0;
}

.five-days {
  text-align: center;
}

.five-days .emoji {
  margin: -23px 0 -17px;
  padding-right: 3px;
  text-align: right;
}

.five-days .max {
  color: #42a5f5;
  margin-top: -4px;
  padding-left: 3px;
  text-align: left;
}

.five-days .min {
  margin-top: -6px;
  padding: 0 9px 0 15px;
}

.five-days > .col {
  border-radius: 20px;
  transition: all 150ms ease-in-out;
}

.five-days > .col:hover {
  background: rgba(66, 165, 245, 0.2);
}

.max {
  font-size: 42px;
  padding: 0;
}

.max-and-min {
  font-size: 20px;
  opacity: 45%;
  padding: 0;
}

.min {
  opacity: 45%;
}

.temp-unit {
  color: #146ec5;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.temp-unit:hover {
  text-decoration: underline;
}

.temp-unit,
.thin-line {
  font-size: 25px;
}

.thin-line {
  font-weight: 100;
  opacity: 45%;
}

.tomorrow {
  border-left: 3px solid rgba(66, 165, 245, 0.25);
  color: #5a6275;
  margin: 0 10px 0 20px;
  padding-left: 20px;
  padding-right: 0;
  text-align: center;
}

.tomorrow .emoji {
  margin: -20px 0px -20px -20px;
}

.tomorrow .max {
  margin: -4px 5px 0 -15px;
}

.tomorrow .min {
  margin: 26px -28px 0 -6px;
  padding: 0;
  text-align: left;
}

.updated {
  color: #42a5f5;
  display: block;
  font-size: 14px;
  font-weight: 200;
  line-height: 1;
  padding-right: 10px;
  text-align: right;
}

.weather-app {
  background-color: rgba(255, 255, 255, 0.92);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  padding: 20px;
}

.weather-app-wrapper {
  margin: 50px auto;
  max-width: 800px;
}

.what-day {
  color: #5a6275;
}
